.idea/*
vendor/*
.DS_Store
.env
var/*
.php_cs.cache
tests/_reports/*
public/storage
config/certs/*

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
