parameters:
    level: 6
    paths:
        - src
        - tests
    excludes_analyse:
        - tests/bootstrap.php
    autoload_files:
        - vendor/autoload.php
        - bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '/Method App\\EntityManager\\EntityTypeManager::isValidType\(\)/'
